.column {
	width: 50px;
	height: 50px;
	background-color: #4cabe3;
	border: 0px;
	padding: 0px;
}

.button1 {
	width: 50px;
	height: 50px;
	text-decoration: none;
	user-select: none;
	display: inline-block;
	outline: none;
	text-align: center;
	vertical-align: middle;
	background-color: #f49f28;
	margin-top: 52px;
	margin-left: 2px;
	color: white;
	transition: background-color 1s linear;
	cursor: pointer;
	border: 0px;
}

.button1:hover {
	background-color: #f5c154;
}

.button2 {
	width: 50px;
	height: 50px;
	text-decoration: none;
	user-select: none;
	display: inline-block;
	outline: none;
	text-align: center;
	vertical-align: middle;
	background-color: #f49f28;
	color: white;
	margin-left: 51px;
	margin-top: 2px;
	transition: background-color 1s linear;
	cursor: pointer;
	border: 0px;
}

.button2:hover {
	background-color: #f5c154;
}

.button4 {
	width: 50px;
	height: 50px;
	text-decoration: none;
	user-select: none;
	display: none;
	outline: none;
	text-align: center;
	vertical-align: middle;
	background-color: #b00000;
	color: white;
	position: absolute;
	margin-left: 54px;
	border-bottom: 1px solid white;
	transition: background-color 1s linear;
	cursor: pointer;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
}

.button4:hover {
	background-color: #cc4c4b;
}

.button3 {
	width: 50px;
	height: 50px;
	text-decoration: none;
	user-select: none;
	display: none;
	outline: none;
	text-align: center;
	vertical-align: middle;
	background-color: #b00000;
	color: white;
	position: absolute;
	margin-top: 54px;
	border-right: 1px solid white;
	transition: background-color 1s linear;
	cursor: pointer;
	border-bottom: 0px;
	border-left: 0px;
	border-top: 0px;
}

.button3:hover {
	background-color: #cc4c4b;
}

.main {
	display: contents;
}

.all {
	display: flex;
}

.table {
	margin-left: 50px;
	margin-top: 50px;
}