.column {
	width: 96px;
	height: 96px;
	background-color: #4dabe4;
}

.button1 {
	width: 100px;
	height: 100px;
	text-decoration: none;
	user-select: none;
	display: inline-block;
	outline: none;
	text-align: center;
	vertical-align: middle;
	background-color: #f1a417;
	margin-top: 104px;
	margin-left: 2px;
	color: white;
	transition: background-color 1s linear;
	cursor: pointer;
}

.button1:hover {
	background-color: #A4F117;
}

.button2 {
	width: 100px;
	height: 100px;
	text-decoration: none;
	user-select: none;
	display: inline-block;
	outline: none;
	text-align: center;
	vertical-align: middle;
	background-color: #f1a417;
	color: white;
	margin-left: 103px;
	margin-top: 2px;
	transition: background-color 1s linear;
	cursor: pointer;
}

.button2:hover {
	background-color: #A4F117;
}

.button4 {
	width: 100px;
	height: 100px;
	text-decoration: none;
	user-select: none;
	display: none;
	outline: none;
	text-align: center;
	vertical-align: middle;
	background-color: red;
	color: white;
	position: absolute;
	margin-left: 102px;
	border-bottom: 2px solid white;
	transition: background-color 1s linear;
	cursor: pointer;
}

.button4:hover {
	background-color: #FA8072;
}

.button3 {
	width: 100px;
	height: 100px;
	text-decoration: none;
	user-select: none;
	display: none;
	outline: none;
	text-align: center;
	vertical-align: middle;
	background-color: red;
	color: white;
	position: absolute;
	margin-top: 102px;
	border-right: 2px solid white;
	transition: background-color 1s linear;
	cursor: pointer;
}

.button3:hover {
	background-color: #FA8072;
}

.main {
	display: contents;
}

.all {
	display: flex;
}

.table {
	margin-left: 100px;
	margin-top: 100px;
}